.app-div {
    padding: 10px;
}

h1{
    text-align: center;
    padding-top: 5px;
}

hr {
    border-top: 2px solid gray;
}

.nav-main {
    width: fit-content(90%);
    display: flex;
    justify-content: space-between;
}

